<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calendar working</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <p> {{ row.1 }}
                    {{ row.2.strftime("%H:%M") }}
                    {{ row.3.strftime("%H:%M") }}</p>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
